.blogWrapper {
    max-width: 75ch;

    margin: 0 10% 0 10%;
    

    .infoHeader {
        margin: 50px 0 50px 0;
    }

    a {
        &:hover {
            color: $theme-color;

            .dark-theme & {
                color: rgb(185, 216, 192);
            }
        }
    }

    .infoHeader {
        text-align: center;

        h1 {

            @include mobile {
                font-size: calc(6vw + 3vh);
            }

            margin-top: 0px;
            margin-bottom: 5px;

            font-size: 50px;
        }

        .separator {
            color: $theme-color;

            .dark-theme & {
                color: rgb(185, 216, 192);
            }
        }
    
    }

    .authorContainer{

        .flexContainer {
            display: flex;
            margin: 0 auto;
            margin-top: 100px;

            @include desktop {
                width: 80%;
                margin-bottom: 50px;
            }

            @include mobile {
                margin-bottom: 20px;
            }
    
            .image {
                flex: 0 0 150px;
                position: relative;
    
                [class^="authorImage"] {
                    -webkit-filter: grayscale(100%);
                    -moz-filter: grayscale(100%);
                    -ms-filter: grayscale(100%);
                    -o-filter: grayscale(100%);
                    filter: grayscale(100%);
                    filter: gray; /* IE 6-9 */;
                    transition: all 0.2s ease;
            
                    &:hover {
                        -webkit-filter: grayscale(100%);
                        -moz-filter: grayscale(100%);
                        -ms-filter: grayscale(100%);
                        -o-filter: grayscale(100%);
                        filter: grayscale(0%);
                        filter: gray; /* IE 6-9 */;
                    }
                }
       
            }
              
              .info {
                flex: 1;
                margin-left: 20px;
                position: relative;
    

                .infoContainer {
                    position: absolute;
                    bottom: 0;
                }
    
                .social {
                    font-size: 30px;
                    margin-right: 5px;
                    opacity: 0.3;
    
    
                    &:hover {
                        color: $theme-color;
                        opacity: 0.4;
                    }
                }
            }    
        }

        .text {
            @include desktop {
                margin-bottom: 20px;
            }

            @include mobile {
                margin-bottom: 50px;
            }
        }

        
    }

    .pagination {

        padding-bottom: 50px;

        .icons {
            vertical-align: middle;
        }

        .leftTitle {
            float: left;
            display: flex;
            flex-grow: 1;

            .leftArrow {
                margin-right: 5px;
            }
        }
          
        .rightTitle {
            float: right;
            display: flex;
            text-align: right;

            .rightArrow {
                text-align: right;
                margin-left: 5px;
            }
        }

    }

    .divider {
        border-bottom: 1px solid #edf1ee;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .comments {
      text-align: center;

        button {
          font-family: "Avenir Next Bold";
          cursor: pointer;
          margin-bottom: 25px;
          border: none;
          text-decoration: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          background-color: inherit;

          .dark-theme & {
            color: currentColor;
          }

          &:hover,&:focus {
              outline:none;
              box-shadow:none !important;
          }
        }
    }
}
