body {
    font-family: $regular;
    color: $primary-font-color;
    margin: 0;
    padding: 0;

    &.dark-theme {
        background-color: var(--dark-background);
        color: var(--dark-color);
    }
}
  
html {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;

    span {
        font-family: $bold;
    }
}

h2 {
    font-size: 25px;
    font-family: $bold;
}

h4 {
    font-family: $bold;
}

h5 {
    font-family: $bold;
}

a {
    color: $primary-font-color;
    text-decoration: none;

    .dark-theme & {
        color: rgb(247, 229, 199);
        text-decoration-color: initial;
    }
}

.themeToggle {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 999;
}

.bold {
    font-family: $bold;
}

.italic {
    font-family: $italic;
}

.regular {
    font-family: $regular;
}

.container {
    display: flex;
}

main {
    position: relative;
}

.button {
    border: 1px solid #83D5D5;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: $primary-font-color;

    &:hover,&:focus {
        background-color: $theme-color;
        color: white;
        outline:none;
        box-shadow:none !important;
    }
}
  
  
.content {
    flex-basis: 100%;
    overflow: auto;
    position: relative;

    padding-left: 10%;
    padding-right: 15%;
        scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */

    @include mobile {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }

    h1 {
        @include mobile {
            font-size: calc(6vw + 3vh);
            text-align: center;
            margin-top: 50px;
        }
    }
}

.content::-webkit-scrollbar {
    display: none;
    width: 0px; /* For Chrome, Safari, and Opera */
}
  
  
.left::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.theme-primary-colour {
    color: $theme-color;

    .dark-theme & {
        color: rgb(185, 216, 192);
    }
}