---
layout: default
---
 
<div id="fb-root"></div>
<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=294370397283238";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/{{ site.img }}/{{ page.post-img }}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading">
					<h1>{{ page.title }}</h1>
					<h2 class="subheading">{{ page.sub-title }}</h2>
					<span class="meta">{{ page.posted-on }}</span>
				</div>
			</div>
		</div>
	</div>
</header>
	
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 page">
			{{ content }}

			<div class="post-signature">
				<div class="author-image">
					<img class="img-circle" src="http://www.gravatar.com/avatar/2336ccd6a816e8582b8e9770f3eacadd?s=100"/>
				</div>
				<div class="text">
				    <p>By <a href="http://www.andysmith.me">Smittey</a><br/>Posted on {{ page.posted-on }}</p>
					<br/>
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="Smittey">Tweet</a>
					
					<div class="fb-share-button" data-href="http://{{ site.host }}/{{ page.url }}" data-layout="button" data-mobile-iframe="true"></div>
					
					<div class="g-plus" data-action="share" data-annotation="none"></div>
					
				</div>
				<div class="share">

				</div>

				<div style="clear: both;"></div>
			</div>	

			<div class="divider"></div>

							
			<div class="page-navigation">
				{% if page.previous.url %}
					<a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
				{% endif %}
				{% if page.next.url %}
					<a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
				{% endif %}
				<div style="clear: both;"></div>
			</div>	

			
			
			<div id="disqus_thread"></div>
		</div>
	</div>
</div>



<script>
	/**
	* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
	*/
	/*
	var disqus_config = function () {
	this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	*/
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');

	s.src = '//smittey.disqus.com/embed.js';

	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<script id="dsq-count-scr" src="//smittey.disqus.com/count.js" async></script>
