---
layout: default
---
 

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/{{ site.img }}/{{ page.post-img }}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading">
					<h1>{{ page.title }}</h1>
					<h2 class="subheading">{{ page.sub-title }}</h2>
					<span class="meta">{{ page.posted-on }}</span>
				</div>
			</div>
		</div>
	</div>
</header>
	
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 page">
			{{ content }}

			<div class="PageNavigation">
				{% if page.previous.url %}
					<a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
				{% endif %}
				{% if page.next.url %}
					<a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
				{% endif %}
				<div style="clear: both;"></div>
			</div>
			
			<div id="disqus_thread"></div>
		</div>
	</div>
</div>



<script>
	/**
	* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
	*/
	/*
	var disqus_config = function () {
	this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	*/
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');

	s.src = '//smittey.disqus.com/embed.js';

	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<script id="dsq-count-scr" src="//smittey.disqus.com/count.js" async></script>
